body, html {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar, .navbar-nav {
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}

.nav-item {
  margin: auto 1em;
  cursor: pointer;
}

.invisible {
  display: none;
}

#map {
  height: 100vh;
  width: 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
}

#info {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 1em;
  width: 40vw;
  padding: 1em;
  text-align: center;
  margin-top: 10vh;
  border-radius: 5px;
}

#gotit, #close {
  cursor: pointer;
  color: #ffffff;
}

#getMarkers {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 20%;
  padding: 0.5em 1em;
}

#upload {
  position: absolute;
  z-index: 1;
  margin-top: 30%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em 0.5em;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
